*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #b91450;
  font-family: 'Roboto', sans-serif;
}

/* commons */
.show{
  opacity: 1;
  transition: 0.2s linear;
}

.hidden{
  opacity: 0;
  transition: 0.2s linear;
}
/* /commons */

.container{
  max-width: 1000px;
  margin: auto;
}

h1{
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

/* form */
.form{
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  background-color: white;
}
.form .row{
  display: flex;
  justify-content: center;
}

.form .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.col label{
  margin-bottom: 10px;
  color: #b91450;
  font-weight: bold;
}

.col input,
.col select{
  padding: 5px 0;
  border: 1px solid #b91450;
  border-radius: 5px;
  text-align: center;
}

.col input:focus,
.col select:focus{
  background-color: #b91450;
  color: white;
}

/* button */
.form .row .button{
  background-color: #cccccc;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 40px 5px 0;
  padding: 5px 10px;
  color: #b91450;
  font-weight: bold;
}

.form .row .button:active{
  border: 2px solid #9c609d;
  background-color: gray;
}

.form .row .button:hover{
  cursor: pointer;
}
/* /button */
/* /form */

/* biglietto */
h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.ticket{
  padding: 20px;
  background-color: white;
}

.ticket h3{
  text-transform: uppercase;
}

.ticket .personal_ticket{
  display: flex;
}

.personal_ticket .passenger{
  width: 200px;
  height: 200px;
  padding: 30px 20px;
  background-color: #808080;
}

.personal_ticket .passenger h4{
  font-size: 25px;
}
/* dettaglio biglietto */
.personal_ticket .ticket_detail{
  width: calc(100% - 200px);
  height: 200px;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 30px;
}

.ticket_detail table{
  width: 100%;
}

.ticket_detail table td{
  padding-top: 50px;
  text-align: center;
}
/* /dettaglio biglietto */
/* /biglietto */
