*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #b91450;
  font-family: 'Roboto', sans-serif;
}

/* commons */

/* /commons */

.container{
  max-width: 1000px;
  margin: auto;
}

h1{
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

/* form */
.form{
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  background-color: white;
}
.form .row{
  display: flex;
  justify-content: center;
}

.form .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.col label{
  margin-bottom: 10px;
  color: #b91450;
  font-weight: bold;
}

.col input{
  border: 1px solid #b91450;
}
/* /form */
